.navbar {
    /* background-color: #FCD790 !important; */
    background-color: #ffc107 !important;
    padding: 0;
}

.navbar-brand img {
    margin-left: -10px;
    width: 120px;
    height: 120px;
    margin-top: -10px ;
    /* display: table-column; */
}

.navbar-brand span {
    font-weight: bold;
    font-size: 15px;
    /* display: table-column;  */
    text-align: center;
    margin-left: 10px;
    margin-top: -5px;
}


.input-group{
    width: 400px !important;
    border-radius: 30px !important;
    height: 50px;
    margin-left: 20px !important;

}

.input-group .search-text{
    height: 50px;
}

.user-circle{
    margin-top: 4px;
    display: block;
    border-radius: 50%;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user-circle img {
    width: 60px;
    height: 60px;
    object-fit: cover; 
}

.cart-circle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-circle svg{
    font-size: 30px;
}

.common-border{
    width: 50%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.ml-auto.d-flex.align-items-center.position-relative.navbar-nav {
    gap: 100px;
}

.cart-info{
    display: flex;
}

.cart-quantity{
    border-radius: 20px;
    width: 35px;
    height: 30px;
    background-color: #EDFC90;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    position: relative;
    right: 20px;
    bottom: 10px;
}

.user-info span{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-left: 10px;
}

.info-border-1{
    /* display: none !important; */
    background-color: antiquewhite;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); 
    transition: all 0.3s ease-in-out;

    width: 400px;
    height: 140px;
    margin-top: 220px;
    margin-left: 270px !important;
    /* margin-top: -250px;
    margin-left: 330px; */
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #9c9c9c;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hiển thị info-border khi hover vào phần user info */
.d-flex:hover + .info-border-1, 
.info-border-1:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
}

button.btn.btn-primary.w-100.mb-3.btn-login{
    margin-top: 20px;
    width: 300px !important;
    height: 50px !important;
    font-size: 23px;
    font-weight: 600;
}

.text-center{
    font-size: 18px;
}

button.btn.btn-link.p-0.btn-register{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}