.card {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card-body {
    text-align: center;
}

.card img {
    max-height: 150px;
    object-fit: cover;
}

.btn-light {
    border: none;
    box-shadow: none;
}

.btn-light:hover {
    background-color: #f8f9fa;
}