.card {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .card-img-left {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .card-body {
    flex: 1;
    padding-left: 20px;
  }
  
  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .card .btn i {
    font-size: 1.2rem;
  }
  