.card {
  max-width: 450px;
  width: 100%;
}

.btn-warning {
  background-color: #FF9900;
  border: none;
}

.btn-warning:hover {
  background-color: #e68a00;
}

.logo-container {
  width: 180px; /* Thay đổi giá trị này theo ý muốn */
  height: 180px; /* Thay đổi giá trị này theo ý muốn */
}

.logo-container img {
  width: 600px; /* Giảm kích thước hình ảnh theo phần trăm của phần tử cha */
  height: auto;
}

h2.text-center.mb-4{
  font-weight: bold;
  font-size:30px;
  color: #e85252;
}

input#password {
  margin-left: -20px;
}

button.btn.btn-outline-first.bg-white.btn-eye {
  width: 35px;
  height: 39px;
  right: 15px;
  position: relative;
  border-radius: 10px;
  border: solid 1px #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

button.btn.btn-outline-first.bg-white {
  position: relative;
  border-radius: 10px;
  border: solid 1px #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

button.btn.btn-warning.w-100 {
  font-size: larger;
  font-weight: 500;
}