.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





.card {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-img-left {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  padding-left: 20px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.card .btn i {
  font-size: 1.2rem;
}











.detail-product {
  width:1000px;
  height:auto;
  border-radius: 10px;
  padding:20px;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s ease-out forwards; 
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-price {
  font-size: 1.2rem;
  color: green;
}

.quantity-selector {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-group {
  width: 120px;
}

.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
