.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.pagination {
  display: flex;
  justify-content: center; /* Canh giữa pagination */
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff; /* Màu nền cho nút */
  color: white; /* Màu chữ */
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px; /* Bo góc cho nút */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
}

.pagination button:disabled {
  background-color: #cccccc; /* Màu nền khi bị disable */
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3; /* Màu nền khi hover */
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}