.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.border-forgot_password {
    background-color: #fff;
    width: 400px; 
    height: 290px;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.sub-title{
    color: gray;
    font-size: 14px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
}

label{
    font-size: 15px;
}

.btn-primary{
    background-color: #6c63ff;
}

.btn-primary:hover{
    background-color: #5750d3;
}