    .navbar {
        /* background-color: #FCD790 !important; */
        background-color: #ffc107 !important;
        padding: 0;
        z-index: 100;
        width: 100%;
        position: fixed;
    }

    .navbar-brand img {
        margin-left: -10px;
        width: 120px;
        height: 120px;
        margin-top: -10px;
        /* display: table-column; */
    }

    .navbar-brand span {
        font-weight: bold;
        font-size: 15px;
        /* display: table-column;  */
        text-align: center;
        margin-left: 10px;
        margin-top: -5px;
    }


    .header .input-group {
        width: 400px;
        border-radius: 30px;
        margin-left: 20px;

    }

    .header .input-group .search-text {
        height: 50px;
    }

    .user-circle {
        margin-top: 4px;
        display: block;
        border-radius: 50%;
        border: 1px solid black;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .user-circle img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .cart-circle {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-circle svg {
        font-size: 30px;
    }

    .common-border {
        width: 40%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    .ml-auto.d-flex.align-items-center.position-relative.navbar-nav {
        gap: 100px;
    }

    .cart-info {
        display: flex;
    }

    .cart-quantity {
        border-radius: 20px;
        width: 35px;
        height: 30px;
        background-color: #EDFC90;
        display: flex;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        color: red;
        font-weight: bold;
        position: relative;
        right: 20px;
        bottom: 10px;
    }

    .user-info span {
        font-size: 16px;
        font-weight: 600;
        color: black;
        margin-left: 10px;
    }

    .info-border {
        /* display: none !important; */
        background-color: antiquewhite;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        width: 250px;
        height: 120px;
        margin-left: 195px !important;
        margin-top: 280px;
        margin-left: 330px;
        box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
        border: 1px solid #9c9c9c;
        /* position: fixed; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Hiển thị info-border khi hover vào phần user info */
    .d-flex:hover+.info-border,
    .info-border:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .d-flex.navbar-nav {
        cursor: pointer;
    }

    .my-account,
    .manage-orders,
    .favourite-products .logout {
        margin: 10px 0;
        /* Adds spacing between the lines */
    }

    .my-account span,
    .my-account svg,
    .manage-orders span,
    .manage-orders svg,
    .favourite-products span,
    .favourite-products svg .logout span,
    .logout svg {
        display: inline-block;
    }

    .my-account,
    .manage-orders,
    .favourite-products,
    .logout {
        transition: color 0.3s ease;
    }

    .my-account:hover,
    .manage-orders:hover,
    .favourite-products:hover,
    .logout:hover {
        /* color: rgb(149, 50, 207); */
        color: #6c63ff;
        cursor: pointer;

    }


    .button-click-search {
        z-index: 0 !important;
    }

    .ml-auto.d-flex.align-items-center.position-relative.navbar-nav {
        padding-left: 50px;
    }


    .search-result::-webkit-scrollbar {
        width: 10px;
    }

    .search-result::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .search-result::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .admin-link {
        color: white;
        text-decoration: none;
    }