.wishListContainer{
    margin-top: 50px;
    border: solid 1px rgb(203, 203, 203);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.wishlist-table {
    margin-top: 20px;
}

.product-name {
    font-weight: bold;
    color: #007bff;
}

.price {
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
}

.btn-add-to-cart {
    background-color: #ff6600;
    color: white;
}

.btn-add-to-cart:hover {
    background-color: #cf5707;
    color: white;
}

img.mr-3 {
    width: 15%;
    height: 15%;
}

.wishlist-table th:nth-child(1),
.wishlist-table td:nth-child(1) {
    width: 20%; /* Cột sản phẩm */
}

.wishlist-table th:nth-child(2),
.wishlist-table td:nth-child(2) {
    width: 10%; /* Cột ngày */
}

.wishlist-table th:nth-child(3),
.wishlist-table td:nth-child(3) {
    width: 10%; /* Cột trạng thái */
}

.wishlist-table th:nth-child(4),
.wishlist-table td:nth-child(4) {
    width: 10%; /* Cột đơn giá */
}

.wishlist-table th:nth-child(5),
.wishlist-table td:nth-child(5) {
    width: 10%; /* Cột thao tác */
}

.product-category{
    text-transform: uppercase;
    font-weight: 500;
    color: #dd7d43;
}