@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.shoppingcart.card.card-registration.card-registration-2{
    width: 100% !important;
}

.card-body.p-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.shoppingcart.card{
    max-width: none !important;
}

.shoppingcart.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.shoppingcart.card-registration .select-arrow {
    top: 13px;
}

.bootstrap-touchspin-down {
    display: none !important;
}


.bootstrap-touchspin-up {
    display: none !important;
}

button.btn.btn-dark.btn-block.btn-lg a {
    color: white;
    text-decoration: none;
}

button.btn.btn-dark.btn-block.btn-lg {
    background-color: #3e3e40;
}