.container-body-manage_product {
    z-index: 1;
    position: relative;
}

.container-fluid {
    max-width: 1200px; /* Center the content and limit width */
    margin: 0 auto; /* Centering the container */
}

.wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of columns */
    justify-content: flex-start; /* Align items to the start */
    justify-content: space-around;
    margin-top:20px;
    
}

.item {
    flex: 0 0 calc(25% - 10px); /* Set column width to 25% minus margin */
    margin: 5px; /* Fixed space of 10px between items */
    box-sizing: border-box; /* Ensure padding is included in total width */
}

@media (max-width: 992px) {
    .item {
        flex: 0 0 calc(33.33% - 10px); /* Adjust to 3 columns on medium screens */
    }
}

@media (max-width: 768px) {
    .item {
        flex: 0 0 calc(50% - 10px); /* Adjust to 2 columns on small screens */
    }
}

@media (max-width: 576px) {
    .item {
        flex: 0 0 calc(100% - 10px); /* Adjust to 1 column on extra small screens */
    }
}
